$green-light: #C1FAAC;
$green-lighter: #8BD450;
$green-medium: #4aaf51;
$green-dark: #266b12;
$green-deep: #0d6221;
$green-black: #012804;
$neutral: #e0e0e0;
$neutral-dark: #302d2d;
$background: #ffffff;
$error: #e53935;
$indigo-light: #3f51b5;
$indigo-dark: #303f9f;
$purple-contrast: #7c3aed;
$yellow-pale: #FFF9C4;
$yellow-light: #FFEB3B;
