<div class="title-wrapper">
  <h2 class="section-title">
    {{ 'rooms.title' | translate }}
  </h2>
</div>

<app-filter
  [config]="[
    { field: 'sport', type: 'select', label: ('rooms.filter.sport' | translate), options: SPORTS },
    { field: 'gamemode', type: 'select', label: ('rooms.filter.gamemode' | translate), options: [] },
    { field: 'gameday', type: 'date', label: ('rooms.filter.gameday' | translate) },
    { field: 'startTime', type: 'time', label: ('rooms.filter.startTime' | translate) },
    { field: 'maxAmount', type: 'number', label: ('rooms.filter.maxAmount' | translate) }
  ]"
  (filtersChanged)="onFiltersChanged($event)"
/>

@defer (prefetch on viewport){
  @if (rooms(); as room) {
    <div class="cards-grid">
      @for (r of room; track r.id) {
        <app-room-card [room]="r" [showStatus]="false" (roomEvent)="loadRooms()"/>
      } @empty {
        <div class="empty-state">
          <i class="lni lni-eraser-1"></i>
          <p>{{ 'rooms.empty' | translate }}</p>
        </div>
      }
    </div>
  } @else {
    <div class="view-spinner view-spinner--sm">
      <app-spinner/>
    </div>
  }
} @placeholder {
  <div class="empty-state">
    <i class="lni lni-hourglass placeholder-icon"></i>
    <p>{{ 'rooms.loading' | translate }}</p>
  </div>
} @loading {
  <div class="view-spinner view-spinner--sm">
    <app-spinner/>
  </div>
}
