h1 {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;
  margin: 0;
  position: relative;
  z-index: 1;
  background-color: var(--room-card-bg);

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 3px;
    background: var(--room-card-border);
    transform: translate(-50%, -50%);
    z-index: 0;
    border-radius: 2px;
    opacity: 0.25;
  }

  span {
    position: relative;
    z-index: 1;
    background: var(--room-card-bg);
    padding: 0 1rem;
  }
}

.room-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: var(--room-card-bg);
  //border: 1px solid var(--room-card-border);

  &__header {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;

    a {
      font-weight: 400;
      color: var(--room-card-link);
      width: 100%;
      text-align: center;
      font-size: 0.9rem;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
        color: var(--room-card-link-hover);
      }
    }
  }

  &__image {
    width: 100%;
    height: 150px;
    border-radius: 0.75rem;
    object-fit: cover;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      margin: 0;
      color: var(--room-card-text);

      @media (max-width: 480px) {
        font-size: 0.9rem;
      }

      span {
        font-weight: 500;
      }
    }

    .room-info__address {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }

    strong {
      font-weight: 600;
    }
  }
}
