<section class="availability" aria-labelledby="availability__heading">

  @defer (when !isLoadingAvailability()) {
    @if (weekDays.length > 0) {
      <div class="availability__container">
        <div class="availability__table-scroll">
            <table class="availability__table">
              <thead>
              <tr>
                <th>{{ 'spaces.detail.availability.date' | translate }}</th>
                @for (time of timeSlots; track time) {
                  <th>{{ time }}</th>
                }
              </tr>
              </thead>
              <tbody>
                @for (day of weekDays; track day) {
                  <tr>
                    <td class="availability__time-label">{{ TimeUtil.formatDate(day) }}</td>
                    @for (time of timeSlots; track time) {
                      <td>
                        <button
                          type="button"
                          class="availability__slot-box"
                          [ngClass]="{
                            'availability__slot-box--available': isAvailable(day, time) && !isPast(day, time),
                            'availability__slot-box--unavailable': !isAvailable(day, time) && !isPast(day, time),
                            'availability__slot-box--selected': isSelected(day, time) && currentUser()?.roleType !== 'OWNER',
                            'availability__slot-box--past': isPast(day, time)
                          }"
                          [title]="day + ' - ' + time"
                          (click)="onSlotClick(day, time)"
                          [disabled]="currentUser()?.roleType === 'OWNER' || isPast(day, time)">
                        </button>
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
        </div>

        <aside class="availability__legend" aria-label="Leyenda de disponibilidad">
          <div class="availability__legend-item">
            <span class="availability__legend-box availability__legend-box--available"></span> {{ 'spaces.detail.availability.legend.available' | translate }}
          </div>
          <div class="availability__legend-item">
            <span class="availability__legend-box availability__legend-box--unavailable"></span> {{ 'spaces.detail.availability.legend.reserved' | translate }}
          </div>
        </aside>
      </div>

      @if (currentUser()?.roleType === 'PLAYER') {
        <footer class="availability__footer">
          <button (click)="confirmHours()">
            {{ 'spaces.detail.availability.actions.confirm' | translate }}
          </button>
          @if (showError) {
            <small class="availability__error-message">{{ 'spaces.detail.availability.validation.hoursRequired' | translate }}</small>
          }
        </footer>
      }
    } @else {
      <div class="availability__info-message">
        {{ 'spaces.detail.availability.validation.weekRange' | translate }}
      </div>
    }
  } @placeholder {
    <app-spinner/>
  }
</section>

<!-- Modal -->
@if (showReservationModal) {
  <app-modal [width]="'450px'" (closeModal)="closeReservationModal()">
    <ng-container modal-header>{{ 'spaces.detail.availability.reservation.title' | translate }}</ng-container>
    <ng-container modal-body>
      <form class="form-body" [formGroup]="reservationForm">
        <div class="form-field">
          <div class="input-icon-wrapper">
            <input type="text" formControlName="reservationName" placeholder="{{ 'spaces.detail.availability.reservation.placeholders.name' | translate }}" required>
            <i class="lni lni-message-3-text icon"></i>
            @if (reservationForm.get('reservationName')?.touched && reservationForm.get('reservationName')?.invalid) {
              @if (reservationForm.get('reservationName')?.errors?.['required']) {
                <small>{{ 'spaces.detail.availability.validaiton.nameRequired' | translate }}</small>
              }
              @if (reservationForm.get('reservationName')?.errors?.['minlength']) {
                <small>M{{ 'spaces.detail.availability.validation.nameMin' | translate }}</small>
              }
              @if (reservationForm.get('reservationName')?.errors?.['maxlength']) {
                <small>{{ 'spaces.detail.availability.validation.nameMax' | translate }}</small>
              }
            }
          </div>
        </div>

        <div class="form-field">
          <div class="input-icon-wrapper">
            <select formControlName="type" required>
              <option value="" disabled selected hidden>{{ 'spaces.detail.availability.reservation.placeholders.type' | translate }}</option>
              <option value="PERSONAL">{{ 'spaces.detail.availability.reservation.types.personal' | translate }}</option>
              <option value="COMMUNITY">{{ 'spaces.detail.availability.reservation.types.community' | translate }}</option>
            </select>
            <i class="lni lni-gear-1 icon"></i>
            @if (reservationForm.get('type')?.touched && reservationForm.get('type')?.invalid) {
              @if (reservationForm.get('type')?.errors?.['required']) {
                <small>{{ 'spaces.detail.availability.validation.typeRequired' | translate }}</small>
              }
            }
          </div>
        </div>
      </form>

      <section class="reservation-summary">
        <div>
          <strong>{{ 'spaces.detail.availability.reservation.summary.playDay' | translate }}:</strong><br> {{ TimeUtil.formatDate(selectedGameDay) }}
        </div>
        <div>
          <strong>{{ 'spaces.detail.availability.reservation.summary.schedule' | translate }}:</strong><br> {{ selectedStartTime }} - {{ selectedEndTime }}
        </div>
        <div>
          <strong>{{ 'spaces.detail.availability.reservation.summary.cost' | translate }}:</strong><br> {{ totalCost() }} {{ 'spaces.detail.availability.reservation.summary.credits' | translate }}
          @switch (reservationType()) {
            @case ('PERSONAL'){
              <small>{{ 'spaces.detail.availability.reservation.summary.indication.personal' | translate }}</small>
            }
            @case ('COMMUNITY') {
              <small>{{ 'spaces.detail.availability.reservation.summary.indication.community' | translate }}</small>
            }
          }
        </div>
      </section>
    </ng-container>

    <ng-container modal-footer>
      <button type="submit" class="button-submit" (click)="submitReservation()" [disabled]="isLoadingSubmitRequest()">
        @if (isLoadingSubmitRequest()) {
          <span class="spinner-default"></span>
        } @else {
          {{ 'spaces.detail.availability.actions.reserve' | translate }}
        }
      </button>
    </ng-container>
  </app-modal>
}
